<% if user_signed_in? %>
  <%= simple_form_for book, html: { class: "book form" } do |f| %>
    <% if book.errors.any? %>
      <div class="error-message">
        <%= book.errors.full_messages.to_sentence.capitalize %>
      </div>
    <% end %>

    <%= f.input :title, input_html: { autofocus: true } %>
    <%= f.input :summary %>
    <%= f.input :quote %>
    <%= f.select :author, options_for_select(Author.all.map{|a| [a.name, a.id]}), {prompt: "Choose Author"} %>
    <%= f.select :type, options_for_select(Type.all.map{|t| [t.name, t.id]}), {prompt: "Choose Type"} %>
    <%= f.input :cover %>
    <%= f.hidden_field 'owner', :value => current_user.id %>
    <%= f.hidden_field 'reader', :value => current_user.id %>
    <%= f.submit class: "btn btn--secondary" %>
  <% end %>

<%end%>
